.login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login__container__item {
    min-width: 50vw;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid orange;
    margin: 1em auto;
    padding: 0;
    width: 50%
}
.login__oauth__container {
    display: flex;
    flex-direction: column;
}
.login__btns__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.demo__link {
    text-decoration: underline;
}

.btn__social {
    padding: .700rem 1.5rem;
    margin-top: .5rem;
    text-align: center;
    text-decoration: none;
    color: #72848c;
    font-weight: 500;
}
