.bright-theme {
    background-color: #ebebeb;
    color: #72848c;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover {
    color: black;
}
.bright-theme .navbar-brand {
    color: black !important;
}
  
.bright-theme .navbar-bg-color {
    background-color: #fff;
    color: black; 
}

.bright-theme .challenge-badge {
    background-color: #09a7e4;
    color: white;
}

.bright-theme input[type="checkbox"]:checked {
    background: #0ad250
}

.bright-theme .card-box {
    background-color: #ffffff;
}

.bright-theme .card-header {
    color:#07a7e3;
  }