* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #323b44;
  color: #fff;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  /* appearance: initial; */
  background: gray;
  width: 50px;
  height: 50px;
  border: none;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
}

.navbar-inverse .navbar-nav .nav-link{
  color: #fff;
}

input[type="checkbox"].big-box {
  width: 9%;
  height: 50px;
  min-width: 50px;
  min-height: 50px
}

input[type="checkbox"]:checked {
  background: green;
  /* margin-right: 0; */
}

/* input[type="checkbox"]:checked +  input[type="checkbox"]:not(:checked){
  margin-left: 5px;
} */

input[type="checkbox"]:checked:after {
  /* Heres your symbol replacement - this is a tick in Unicode. */
  color: #fff;
  /* If you want to fully change the check appearance, use the following: */
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-box {
  padding: 20px;
  border: 1px solid 1px solid rgba(54, 64, 74, 0.08);
  border-radius: 5px;
  background-color: #36404a;
  margin-bottom: 20px;
}

.header-title, .header-title-big{
  text-transform: uppercase;
  font-weight: 700;
}
.header-title {
  font-size: 1rem;
}

.header-title-big {
  font-size: 1.2rem;
}

#login {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login .card-box{
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.demo-link{
  color: #fff;
  text-decoration: underline;
}

.demo-link:hover{
  color: rgba(255,255,255,.75);
}

.fail {
  color: red;
  text-transform: uppercase;
}

.success {
  color: greenyellow;
  text-transform: uppercase;
}

/* input:nth-child(5n) {
  margin-right: 20px;
} */

/* @media (max-width: 768px){
  input:nth-child(5n){
    margin-right: 5px;
  }
} */

.challenge-badge{
  border-radius: 0;
  font-size: 1em;
}